<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Group Suite">
     <groups>
    <!--  Below is one way of executing multiple groups of testcases -->
        	<!-- <define name="include-group">
        	<include name="Scenario2" />
        	<include name="Scenario3" />
      	</define>	
      	<run>	
			 <include name="include-group" />	
   	</run>	 -->
   	
  <!--  Below is one way of executing single groups of testcases -->
		<run>	
			 <include name="Scenario2" />	
    	</run>	
    </groups>
    <test name="Booking Scenarios">
    <parameter name="fromPlace" value="Dubai International Airport"></parameter>
     <parameter name="toPlace" value="Hotel Fairmont The Palm"></parameter> 
    <classes>
       <class name="com.BookingPF.BookingScenarios" />
    </classes>
  </test>
</suite>
